/* 
	light blue:	#DBF0EF
	Medium blue: 	#97DAE8
	Light purple: #C0C8F0
	White: #FAF9F9
	Black: #0A0909
*/

html {
	font-family: 'Montserrat', sans-serif;
	color: #0A0909;
	background-color: #FAF9F9;
}

h1, 
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Maitree', serif;
}

.wrapper {
	width: 90%;
	max-width: 1500px;
	margin: auto;
}