/* 
	light blue:	#DBF0EF
	Medium blue: 	#97DAE8
	Light purple: #C0C8F0
	White: #FAF9F9
	Black: #0A0909
*/

html {
	font-family: 'Montserrat', sans-serif;
	color: #0A0909;
}

h1, 
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Maitree', serif;
}

.wrapper {
	width: 90%;
	max-width: 1500px;
	margin: auto;
}

button {
	background-color: #faf9f9;
	transition: background-color ease-in-out 0.35s;
}

/* button:hover,
button:focus {
	background-color: #DBF0EF;
} */