/* 
	light blue:	#DBF0EF
	Medium blue: 	#97DAE8
	Light purple: #C0C8F0
	White: #FAF9F9
	Black: #0A0909
*/

html {
	font-family: 'Montserrat', sans-serif;
	color: #0A0909;
	font-size: 10px;
}
body {
	font-size: 1.6rem;
	position: relative;
}
h1, 
h2,
h3,
h4,
h5,
h6,
p,
label {
	font-family: 'Maitree', serif;
	font-size: 2rem;
}
h1 {
	font-size: 10rem;
}
h2 {
	font-size: 3rem;
	font-style: italic;
}
h4 {
	font-size: 2.5rem;
}
hr {
	width: 100%;
	background-color: #97DAE8;
	height: 0.5rem;
	border: 0;
}
em {
	font-style: bold;
}
header {
	background-color: #C0C8F0;
}
.wrapper {
	width: 90%;
	max-width: 1500px;
	margin: auto;
}
button {
	background-color: #faf9f9;
	transition: background-color ease-in-out 0.35s;
}
.header__wrapper {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
	height: 80vh;
	padding: 4rem 0;
}
.header__right {
	background-color: white;
	border: .5rem solid #97DAE8;
	border-radius: 5rem;
	width: calc(100% / 3);
	height: 50%;
	padding: 2rem;
	min-height: 40rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.header__form {
	height: 80%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

<<<<<<< HEAD
@media (max-width: 600px) {
	.header__left {
		width: 100%;
	}
	.header__left h1 {
		font-size: 5rem;
		margin-bottom: 30px;
	}
	.header__left h2 {
		font-size: 2rem;
	}
	.header__right {
		width: 100%;
	}
}
=======
.modal__back {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 50;
	background-color: rgba(00, 00, 00, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
}
.modal__front {
	background-color: white;
	border: .5rem solid #97DAE8;
	border-radius: 5rem;
	padding: 2rem;
	height: 20%;
	width: 50%;
}

>>>>>>> 03cfd5854e6def1b7fb6c83b0d81db6dc545e00b
