img {
	width: 100%;
}

.concertCards {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-evenly;
}

.concertCell {
	width: 27%;
	min-width: 250px;	
	position: relative;
	margin: 1%;
	transition: transform ease-in-out 0.35s;
	font-size: 1.2rem;
	line-height: 1.4rem;
}

.concertCell h2 {
	font-size: 1.5rem;
	line-height: 1.7rem;
	text-align: center;
	margin-bottom: 1%;
}
.concertInfo p {
	margin-bottom: 3px;
}

.concertCell:focus-within,
.concertCell:hover {
	transform: scale(1.1);
	z-index: 10;
}

.concertInfo {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	background: #DBF0EF;
	color: #0A0909;
	padding: 10px 5px;
	width: 100%;
	min-height: 100px;
	line-height: 1.2rem;
	letter-spacing: 0.5px;
}

.imageContainer {
	width: 100%;
	height: 200px;
}

@media (max-width: 600px) {
	.concertCell {
		margin: 3% auto;
	}
}