.login_form {
    background-color: #97DAE8;
}
.login_form_container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
}
.login_form_space {
    height: 1rem;
}
input {
    border: 1px solid grey
}
.fieldError {
    border: 1px solid red;
}
.fieldSuccess:focus {
    border: 1px solid green;
}
.login_form fieldset {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.login_radio {
    padding: 0.5rem;
    width: 50%;
    text-align: center;
    border-bottom: none;
    background-color: white;
}
.login_radio label {
    display: block;
    padding: 2rem;
}
.login_form_active {
    background-color: #97DAE8;
}

input:focus {
	background-color: #DBF0EF
}