.input__container {
    position: relative;
}
.city-options {
    position: absolute;
    top: 1.2rem;
    left: 0;
    right: 0;
    z-index: 100;
}

.city-options button {
	width: 100%;
	border: 1px solid black;
	transition: background-color ease-in-out 0.35s, border ease-in-out 0.35s;
}

.city-options button:hover,
.city-options button:focus {
	border: 1px solid #C0C8F0;
	background-color: #DBF0EF;
}

.search {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 200px;
}

.search form {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	
}



.search label {
	margin-right: 30px;
}

@media (max-width: 800px) {
	.search form {
		flex-flow: column wrap;
		width: 80%;
	}
	.search label {
		margin-right: 0px;
		text-align: center;
		width: 20%;
	}
	.search div {
		display: flex;
		justify-content: space-evenly;
		flex-flow: column wrap;
		align-items: center;
	}
	.search input,
	.search button {
		
		margin-bottom: 20px;
		width: 50%;
		min-width: 200px;
		max-width: 250%;
	}
	.search button {
		align-self: center;
	}
}

@media (max-width: 500px) {
	.search input {
		width: 100%;
	}
}

