.input__container {
    position: relative;
}
.city-options {
    position: absolute;
    top: 1.2rem;
    left: 0;
    right: 0;
    z-index: 100;
}

.city-options button {
	width: 100%;
	border: 1px solid black;
	transition: background-color ease-in-out 0.35s, border ease-in-out 0.35s;
}

.city-options button:hover,
.city-options button:focus {
	border: 1px solid #C0C8F0;
	background-color: #DBF0EF;
}